.containerBig {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding: 10px;

}

.imgBig {
    width: 60vw;
    height: 60vh;
    margin: 5px;
    object-fit: contain;
}

.imgSmall {
    width: 30vw;
    height: 30vh;
    margin: 5px;
    object-fit: contain;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40vw;
    padding: 10px;
}

.containerImgAuthor {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
   /*  margin-left: 2.5vw;
    margin-right: 2.5vw; */
   
}

.cardImgAuthor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 31vw;
    margin: 1vw;
    height: 60vh;
    
}

.imgAuthor {
    width: 31vw;
    height: 60vh;
    object-fit: cover;
}